.Pokemon-Container{
  background:white;
  padding:0 40px 40px 40px;
  border-radius:0 0 0 50px;
  max-width:100%;

}

.Pokemon-Header {
  background:#E0E0E0;
  display:block;
  width:100%;
  position:relative;
  padding:10px;
  text-align:center;
}
.Pokemon-Image img {
  margin-left:50px;
  text-align:center;
  display:inline;
}

.Pokemon-Attacks {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;
  list-style-type:none;
  grid-gap:5px;
}

.Pokemon-Attack {
  padding:10px;
  background:#52AE5E;
}
